<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202637903836-2ckms3bf8ha5ouvtibl7q42slqcsd8oh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202637903836-2ckms3bf8ha5ouvtibl7q42slqcsd8oh</string>
	<key>API_KEY</key>
	<string>AIzaSyAUT-ZWrKW7A4VkhxO-axS59mZxhB2LFBo</string>
	<key>GCM_SENDER_ID</key>
	<string>202637903836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>prog31975.iGotNext</string>
	<key>PROJECT_ID</key>
	<string>igotnext-89128</string>
	<key>STORAGE_BUCKET</key>
	<string>igotnext-89128.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202637903836:ios:1ba23295145b7e6127b119</string>
</dict>
</plist>